<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul class="messages">
      <% messages.forEach((message) => { %>
        <li>
          <p><b><%= message.author %></b></p>
          <p><%= message.messageContent %></p>
          <p><i><%= message.sentAt %></i></p>
        </li>
      <% }) %>
    </ul>
    <button class="message-btn">
      <a href="/new">Add a message</a>
    </button>
  </body>
</html>
